@import url("https://fonts.googleapis.com/css?family=Ubuntu|Spectral");

body {
  background-color: honeydew;
}

.container {
  max-width: 1024px;
  min-height: 100px;
  margin: 5px auto 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  background: cornflowerblue;
}

header {
  margin: 0 -25px;
  box-shadow: 5px 5px honeydew;
}

header h1 {
  font-family: "Spectral", sans-serif;
  background: deeppink;
  margin: 0 auto;
  padding-right: 10px;
  text-align: right;
}

nav {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  background: darkturquoise;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav li {
  float: left;
  padding: 0 5px;
}

nav li a {
  font-family: "Ubuntu", sans-serif;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  color: navy;
}

nav li a:hover, .active-page {
  margin-top: -2px;
  border-top: 2px solid black;
  background: deepskyblue;
}

.content-box {
  height: 100%;
  padding: 10px;
  margin: 0.5em;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
}

.dummy-content {
  background-color: black;
  width: 75px;
  height: 75px;
  margin: 5px;
}

footer {
  background: deeppink;
  font-family: "Ubuntu", sans-serif;
  height: 49px;
  margin: 0 -25px;
}

footer p {
  text-align: center;
  padding: 1em;
}
.details_format {
  padding: 5%;
  margin: 0px;
}
#details_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 8px;
}
.details_article {
  background-color: rgba(255, 255, 255, 0.315);
  padding: 5px;
  border-radius: 8px;
}
#details_text {
  background-color: rgba(255, 255, 255, 0.315);
  padding: 5px;
  border-radius: 8px;
}
.details_button {
  display: inline-block;
  padding: 1em 2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 8px;
  background-color: skyblue;
  text-align: center;
  transition: all 0.2s;
  border: 0px solid black;
  text-decoration: red;
}
.details_button:hover {
  background-color: deepskyblue;
}

.cat_h1 {
  text-align: center;
}

.cat_layout {
  text-align: center;
}

.cat_layout a {
  text-decoration: none;
}

.cat_box1{
 float: left;
 width: 33.33%;
}

.cat_box2 {
  float: left;
  width: 33.33%;
}

.cat_box3 {
  float: left;
  width: 33.33%;
}
