@import url("https://fonts.googleapis.com/css?family=Ubuntu|Spectral");

body {
  background-color: honeydew;
}

.container {
  max-width: 1024px;
  min-height: 100px;
  margin: 5px auto 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  background: cornflowerblue;
}

header {
  margin: 0 -25px;
  box-shadow: 5px 5px honeydew;
}

header h1 {
  font-family: "Spectral", sans-serif;
  background: deeppink;
  margin: 0 auto;
  padding-right: 10px;
  text-align: right;
}

nav {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  background: darkturquoise;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav li {
  float: left;
  padding: 0 5px;
}

nav li a {
  font-family: "Ubuntu", sans-serif;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  color: navy;
}

nav li a:hover, .active-page {
  margin-top: -2px;
  border-top: 2px solid black;
  background: deepskyblue;
}

.content-box {
  height: 100%;
  padding: 10px;
  margin: 0.5em;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
}

.dummy-content {
  background-color: black;
  width: 75px;
  height: 75px;
  margin: 5px;
}

footer {
  background: deeppink;
  font-family: "Ubuntu", sans-serif;
  height: 49px;
  margin: 0 -25px;
}

footer p {
  text-align: center;
  padding: 1em;
}

/*-----------------------------MY PAGE---------------------------------------*/

.btn:link,
.btn:visited
{
  background-color: #6c6c6c;
  border: 1px solid #6c6c6c;
  color: #fff;
  margin-right: 15px;
  
  display: inline-block;
  padding: 20px 30px; /*this will mean that we have 10 pixels of heading on top and bottom and 30 pixels left and right*/
  font-weight: 300;
  text-decoration: none;
  
  /*Det här gör att bakgrunden inte byter färg direkt utan på 0.2 sekunder*/
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn:hover,
.btn:active
{
  background-color: #535353;
}


.Mypage_welcome-text-box
{
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
}


.Mypage_welcome-header
{
  background-image: linear-gradient(rgba(135, 206, 235, 0.7), rgba(135, 206, 235, 0.7)), url(gold-glitter-blog-header.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh; /*Det här betyder att det är 100 procent av view-port:en*/
}


.Mypage_welcome-header h2
{
  padding-top: 20px;
  font-size: 25px;
}



/*-----------------------------MY PAGE end---------------------------------------*/



/*-----------------------------Log in page---------------------------------------*/
.Loginpage_Login
{
  background-color: skyblue;
  width: 300px;
  height: 150px;
  border: 1px solid blue;
  margin: auto;
  margin-top: 40px;
  padding: 10px;
}

.Loginpage_Login h2 {
  text-align: center;
}

/*-----------------------------Log in page end---------------------------------------*/

/*stefan b's stuff*/
.details_button {
  display: inline-block;
  padding: 1em 2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 8px;
  background-color: skyblue;
  text-align: center;
  transition: all 0.2s;
  border: 0px solid black;
  text-decoration: red;
}
.details_button:hover {
  background-color: deepskyblue;
}

/*stuff ryan added*/
.content-box-category {
  height: 100%;
  padding: 10px;
  margin: 0.5em;
  display: flex;
  flex-direction: column;
}

.content-box-category h2 {
  text-align: center;
}

.cat_h1 {
  text-align: center;
}

.cat_layout {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.content-box-category a, p, img {
  text-align: center;
}

.cat_box {
  width: 31.2%;
  box-sizing: border-box;
  text-align: center;/*THIS CENTERs THE IMAGES, IDK WHY LOL*/
  padding: 10px;
  margin: 10px;
  background-color: deeppink;
}
/*end of stuff ryan added*/

.cat_layout a {
  text-decoration: none;
}

.details_format {
  padding: 5%;
  margin: 0px;
}
#details_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 8px;
}
.details_article {
  background-color: rgba(255, 255, 255, 0.315);
  padding: 5px;
  border-radius: 8px;
}
#details_text {
  background-color: rgba(255, 255, 255, 0.315);
  padding: 5px;
  border-radius: 8px;
}
/*end of stefan b's stuff*/

/* ---------------- product page start ------------------ */

.content-box-product {
    height: 100%;
    padding: 10px;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
  }

  .content-box-product h2 {
    text-align: center;
  }
  
  .product-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .content-box-product a, p, img {
    text-align: center;
  }

  .product-wrapper a {
    text-decoration: none;
  }

  .prod-container {
    width: 31.2%;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-color: deeppink;
  }


  .pp_dropbtn {
    background-color: darkturquoise;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.pp_dropdown {
    position: relative;
    display: inline-block;
}

.pp_dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.pp_dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.pp_dropdown-content a:hover {background-color: deepskyblue}

.pp_dropdown:hover .pp_dropdown-content {
    display: block;
}

.pp_dropdown:hover .pp_dropbtn {
    background-color: deepskyblue;
}

/* ---------------- product page end------------------ */