@import url("https://fonts.googleapis.com/css?family=Ubuntu|Spectral");

body {
}

.container {
  max-width: 1024px;
  min-height: 600px;
  margin: 10px auto 0 auto;
  background: cornflowerblue;
}

header {
}

header h1 {
  font-family: "Spectral", serif;
  background: deeppink;
  margin: 0 auto;
  text-align: center;
}

nav {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  background: rgb(135, 206, 235);
}

nav ul {
  list-style-type: none;
}

nav li {
  float: left;
}

nav li a {
  font-family: "Spectral", serif;
  padding: 1em;
  margin: auto;
  text-decoration: none;
  display: block;
  color: navy;
}

nav li a:hover {
  background: deepskyblue;
}

.details_format {
  padding: 5%;
  margin: 0px;
}
#details_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 8px;
}
.details_article {
  background-color: rgba(255, 255, 255, 0.315);
  padding: 5px;
  border-radius: 8px;
}
#details_text {
  background-color: rgba(255, 255, 255, 0.315);
  padding: 5px;
  border-radius: 8px;
}

/*-----------------------------MY PAGE---------------------------------------*/


#Mypage_ul 
{
  list-style-type: none;
  padding: 0;   
}


.Mypage_welcome-header
{
    margin-top: 20px;
    float: left;
    padding: 10px;
    height: 400px;
    background-color: skyblue;
}


.Mypage_welcome-header h2
{
    padding-top: opx;
    font-size: 25px;
}


.img img
{
    display: inline-block;
    float: left;
    border-radius: 200px;
}



/*-----------------------------MY PAGE end---------------------------------------*/



/*-----------------------------Log in page---------------------------------------*/
.Loginpage_Login
{
    background-color: skyblue;
    width: 300px;
    height: 150px;
    border: 1px solid blue;
    margin: auto;
    margin-top: 40px;
    padding: 10px;
}


/*-----------------------------Log in page end---------------------------------------*/


